__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

data/raw/
data/processed/

models/
reports/
*.joblib
*.json
*.png
*.pkl

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.env
.env.*

.vscode/
.idea/

*.log
